
@font-face {
    font-family: 'ricksonregular';
    src: url('../fonts/rickson-webfont.woff2') format('woff2'),
         url('../fonts/rickson-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'made_okine_sans_persMdoutline';
    src: url('../fonts/madeokinesanspersonaluse-mediumoutline-webfont.woff2') format('woff2'),
         url('../fonts/madeokinesanspersonaluse-mediumoutline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neueregular';
    src: url('../fonts/NeuePowerTrial-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'made_okine_sans_personal_usMd';
    src: url('../fonts/madeokinesanspersonaluse-medium-webfont.woff2') format('woff2'),
         url('../fonts/madeokinesanspersonaluse-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mogularegular';
    src: url('../fonts/Mogula-8MWLM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'senilitaregular';
    src: url('../fonts/Senilita.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rumitahregular';
    src: url('../fonts/rumitah-webfont.woff2') format('woff2'),
         url('../fonts/rumitah-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'ricksonregular';
}
body{
   overflow: hidden;
   background-color: rgb(16, 34, 83);
}
::selection {
    background: #404ca6;
}
/* Animation pour le logo */
.logo {
  opacity: 0;
  transform: translateY(-20px);
  animation: logo-anim 0.25s ease-out 0.5s forwards;
  font-family: 'senilitaregular';
  letter-spacing: 3px;
  text-decoration: none;
}

@keyframes logo-anim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation pour les liens de la navbar */
.navItems li {
  opacity: 0;
  transform: translateY(-20px);
  animation: nav-anim 0.25s ease-out 0.5s forwards;
}

@keyframes nav-anim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fin de l'animation au lancement de la page */


/* Règle général de la page d'acceuil  */
nav{
   display: flex;
   width: 100%;
   justify-content: space-around;
   height: 80px;
   line-height: 80px;
   z-index: 2;
}
.logo{
   display: flex;
   font-size: 40px;
   font-weight: 800;
   color: wheat;
}
.navItems{
   display: flex;
}
.navItems li{
   list-style: none;
   margin: 0 15px;
}
.navItems li a{
   font-size: 25px;
   color: wheat;
   letter-spacing: 3px;
   text-decoration: none;
   text-transform: capitalize;
   font-family: 'senilitaregular';
}
.navlinks {
   position: relative;
}
.navlinks:hover::after {
   content: '';
   height: 5px;
    width: 5px;
    border-radius: 50px;
    background: sandybrown;
    position: absolute;
    bottom: -12px;
    left: calc(50% - 2.5px);
    transition: all 0.3s ease 0s;
    width: 40px;
    animation: 1.3s ease-out 0s infinite va-et-vient;
}
.navlinks.active::after{
   content: '';
   height: 5px;
    width: 5px;
    border-radius: 50px;
    background: sandybrown;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 2.5px);
    transition: all 0.3s ease 0s;   
}

@keyframes va-et-vient {
    0% {
        left: 5px
    }

    50% {
        left: -5px
    }

    to {
        left: 5px
    }
}
#particles-js {
 height: 60vh;
}
#text {
  color:wheat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5% 15% 0%;
  position: absolute;
}
#text h1 {
  color: sandybrown;
  font-weight: 700;
  font-size: 2.5em;
}
#text b {
  color: sandybrown;
}
#text p {

   width: 100%;
   font-family: 'mogularegular';
   color: wheat;
   font-size: 22px;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 5;
  filter: blur(0);
  transform: translateX(0);
}
.contact {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1.5s;
}

.showleft {
  opacity: 5;
  filter: blur(0);
  transform: translateX(0);
}
#particules-js {
  height: 20%;
  background-color: sandybrown;
}



@font-face {
    font-family: 'Akira';
    src:url('../fonts/akira_expanded_demo-webfont.woff2') format('woff2'),
        url('../fonts/akira_expanded_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tan_-_nimbusregular';
    src: url('../fonts/tan-nimbus-webfont.woff2') format('woff2'),
         url('../fonts/tan-nimbus-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.container {
   /* position: relative; */
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container p,a, h2 {
    font-family: 'akira';
}
.container h1 {
    font-family: 'tan_-_nimbusregular';
    font-size: 42px;
}
.glitch {
    text-shadow: 
    0.05em 0 0 rgb(0, 255, 255, 0.75), 
    0.025em .05em 0 rgba(237, 51, 237, 0.75);
}
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.card {
    width: 700px;
    height: 350px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.content-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #2D5AAF;
    overflow: hidden;
    border-radius: 25px;
    transition: all 0.15s ease-out;
    background: linear-gradient(260deg,#9558d2,#e0914c);
}

.content-card img {
    object-fit: cover;
    width: 25%;
    height: 25%;

}
.footer-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
li,a {
    font-size: 14px;
    color: #2D5AAF;
    text-decoration: none;
    list-style: none;
}


/* Format responsive */
@media screen and (max-width: 1050px) {
   body {
      overflow: hidden auto;
   }
   .navbar {
      display: flex;
      text-align: center;
      align-items: center;
   }
   .burger {
   width: 42px;
   height: 24px;
   cursor: pointer;
   position: relative;
   display: none;
   }
   .burger span {
   width: 100%;
   height: 4px;
   background-color: wheat;
   display: block;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   transition: background-color 0.5s ease-in-out;
   }
   .burger span::before, .burger span::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 4px;
   background-color: wheat;
   transition: transform 0.5s ease-in-out;
   }
   .burger span::before{
   transform: translateY(-10px);
   right: 20%;
   }
   .burger span::after{
   transform: translateY(10px);
   right: 15%;
   }
   .burger.active span{
   background-color: transparent;
   }
   .burger.active span::before{
   transform: translateY(0px) rotateZ(45deg);
   }
   .burger.active span::after{
   transform: translateY(0px) rotateZ(-45deg);
   }
   .burger {
      display: block;
   }
   nav {
      display: flex;
   }
   .navItems {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100vh;
      background-color: rgba(24, 68, 189, 0.168);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      margin-left: -100%;
      transition: all 0.5s ease;
   }
   .mobile-menu {
      margin-left: 0;
      
   } 
   .navResponsive ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
   }
   .navItems ul li {
      margin : 25px 0;
      font-size: 1.5em;
   }

   section#contact .container {
    width: 85%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px 10px;
    border-radius: 15px;
    box-sizing: border-box;
}
}
@media screen and (max-width: 782px) {
  .card {
    width: 580px;
    height: 350px;
  }
}

@media screen and (max-width: 605px) {
  .card {
    width: 500px;
    height: 300px;
  }
  .container h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 527px) {
  .card {
    width: 400px;
    height: 250px;
  }
  .container h1 {
    font-size: 25px;
  }
  .container h2 {
    font-size: 15px;
  }
  .container li,a {
    font-size: 12px;
  }
}

@media screen and (max-width: 483px) {
  .card {
    width: 350px;
    height: 215px;
  }
  .container h1 {
    font-size: 25px;
  }
  .container h2 {
    font-size: 15px;
  }
  .container li,a {
    font-size: 9px;
  }
}

@media screen and (max-width: 435px) {
  body {
    overflow: hidden auto;
  }
  .container {
    position: relative;
    top: 100px;
    padding-bottom: 25px;
  }
  .navbar {
      display: flex;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      padding: 0px 15px;
   }
   .logo{
      font-size: 30px;
   }
   #text h1 {
      font-size: 1.5em;
   }
   #text p {
      font-size: 15px;
   }
   #particles-js {
    height: 40vh;
  }
   .card {
    width: 350px;
    height: 215px;
  }
  .container h1 {
    font-size: 25px;
  }
  .container h2 {
    font-size: 15px;
  }
  .container li,a {
    font-size: 9px;
  }
}