
@font-face {
    font-family: 'ricksonregular';
    src: url('../fonts/rickson-webfont.woff2') format('woff2'),
         url('../fonts/rickson-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'made_okine_sans_persMdoutline';
    src: url('../fonts/madeokinesanspersonaluse-mediumoutline-webfont.woff2') format('woff2'),
         url('../fonts/madeokinesanspersonaluse-mediumoutline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neueregular';
    src: url('../fonts/NeuePowerTrial-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'made_okine_sans_personal_usMd';
    src: url('../fonts/madeokinesanspersonaluse-medium-webfont.woff2') format('woff2'),
         url('../fonts/madeokinesanspersonaluse-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mogularegular';
    src: url('../fonts/Mogula-8MWLM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'senilitaregular';
    src: url('../fonts/Senilita.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rumitahregular';
    src: url('../fonts/rumitah-webfont.woff2') format('woff2'),
         url('../fonts/rumitah-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'ricksonregular';
}
body{
   overflow: hidden;
   background-color: rgb(16, 34, 83);
}
::selection {
    background: #404ca6;
}
/* Animation pour le logo */
.logo {
  opacity: 0;
  transform: translateY(-20px);
  animation: logo-anim 0.25s ease-out 0.5s forwards;
  font-family: 'senilitaregular';
  letter-spacing: 3px;
}

@keyframes logo-anim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation pour les liens de la navbar */
.navItems li {
  opacity: 0;
  transform: translateY(-20px);
  animation: nav-anim 0.25s ease-out 0.5s forwards;
}

@keyframes nav-anim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fin de l'animation au lancement de la page */


/* Règle général de la page d'acceuil  */
nav{
   display: flex;
   width: 100%;
   justify-content: space-around;
   height: 80px;
   line-height: 80px;
   z-index: 2;
}
.logo{
   display: flex;
   font-size: 40px;
   font-weight: 800;
   color: wheat;
}
.navItems{
   display: flex;
}
.navItems li{
   list-style: none;
   margin: 0 15px;
}
.navItems li a{
   font-size: 25px;
   color: wheat;
   letter-spacing: 3px;
   text-decoration: none;
   text-transform: capitalize;
   font-family: 'senilitaregular';
}
.navlinks {
   position: relative;
}
.navlinks:hover::after {
   content: '';
   height: 5px;
    width: 5px;
    border-radius: 50px;
    background: sandybrown;
    position: absolute;
    bottom: -12px;
    left: calc(50% - 2.5px);
    transition: all 0.3s ease 0s;
    width: 40px;
    animation: 1.3s ease-out 0s infinite va-et-vient;
}
.navlinks.active::after{
   content: '';
   height: 5px;
    width: 5px;
    border-radius: 50px;
    background: sandybrown;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 2.5px);
    transition: all 0.3s ease 0s;   
}

@keyframes va-et-vient {
    0% {
        left: 5px
    }

    50% {
        left: -5px
    }

    to {
        left: 5px
    }
}
.section::before{
   position: absolute;
   content: '';
   height: 1000px;
   width: 900px;
   border-radius: 50%;
   left: -12%;
   top: 40%;
   background: linear-gradient(300deg,#7340a6,sandybrown);
   animation: object1 6s linear infinite;
   z-index: -1;
}
.navItems::before{
   position: absolute;
   content: '';
   height: 600px;
   width: 600px;
   border-radius: 50%;
   left: 85%;
   top: 5%;
   background: linear-gradient(300deg,#7340a6,sandybrown);
   animation: object2 6s linear infinite;
   z-index: -1;
}
@keyframes  object1{
   50%{
      left: -13%;
      top: 41%;
   }
}
@keyframes  object2{
   50%{
      right: -5%;
      top: 10%;
   }
}

.cols{
   width: 60%;
   z-index: 1;
}

.topline{
   display: block;
   position: relative;
   font-size: 3.5em;
   letter-spacing: 5px;
   color: wheat;
   font-weight: 900;
}
h1{
   display: block;
   font-weight: 900;
   color: wheat;
   font-size: 1.5em;
}
b {
   color: sandybrown;
}
.multiText{
   color: sandybrown;
   text-transform: capitalize;
}
.description {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
p{
   display: block;
   width: 100%;
   font-family: 'mogularegular';
   color: wheat;
   font-size: 20px;
}
.btns {
   display: flex; 
   transition-delay: 500ms;
   position: relative;
   padding-top: 2em;
   left: 3%;
}

.coolbutton{
    color:sandybrown;
    background-color: transparent;
    border: 1px solid sandybrown;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    font-family: 'ricksonregular';
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    margin-top: 10px;
    border-radius: 4px;
    position: relative;
}
.coolbutton.left {
   right: 3%;
}

.coolbutton:hover {
   outline: none;
  box-shadow: 4px 4px 0 0 sandybrown;
  transform: translate(-5px, -5px);
}

.section__container {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

/* Fin règle général de la page d'acceuil */


/* Format responsive */
@media screen and (max-width: 1050px) {
   body {
      overflow: hidden auto;
   }
   .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .logo{
      font-size: 35px;
   }
   .burger {
   width: 42px;
   height: 24px;
   cursor: pointer;
   position: relative;
   display: none;
   }
   .burger span {
   width: 100%;
   height: 4px;
   background-color: wheat;
   display: block;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   transition: background-color 0.5s ease-in-out;
   }
   .burger span::before, .burger span::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 4px;
   background-color: wheat;
   transition: transform 0.5s ease-in-out;
   }
   .burger span::before{
   transform: translateY(-10px);
   right: 20%;
   }
   .burger span::after{
   transform: translateY(10px);
   right: 15%;
   }
   .burger.active span{
   background-color: transparent;
   }
   .burger.active span::before{
   transform: translateY(0px) rotateZ(45deg);
   }
   .burger.active span::after{
   transform: translateY(0px) rotateZ(-45deg);
   }
   .burger {
      display: block;
   }
   nav {
      display: flex;
   }
   .navItems {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100vh;
      background-color: rgba(24, 68, 189, 0.168);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      margin-left: -100%;
      transition: all 0.5s ease;
   }
   .mobile-menu {
      margin-left: 0;
      
   } 
   .navResponsive ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
   }
   .navItems ul li {
      margin : 25px 0;
      font-size: 1.5em;
   }
   .navItems::before{
   display: none;
   }
   .section::before{
   display: none;
   }
  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
.btns {
    margin: auto;
  }
  .image {
    grid-area: 1/1/2/2;
  }

}
